<!-- Filters -->
<div fxLayout="row" fxLayoutAlign="space-around stretch">
    <!-- Search Filter -->
    <div fxFlex="30" class="search-input-wrapper mx-12 m-md-0"
        fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
            <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
            <input id="search" 
                    matInput
                    placeholder="Search"
                    (keyup)="searchFilter($event)"
                    #searchFilterInput>
        </mat-form-field>
    </div>
    
    <!-- Category FIlter -->
    <mat-form-field fxFlex="30">
        <mat-select placeholder="Select Category"
                    (change)="categoryFilter($event)">
            <mat-option value="all">All Categories</mat-option>
            <mat-option value="no_section">No Category</mat-option>
            <mat-option *ngFor="let category of categories"
                        [value]="category.category_id">
                {{category.name}}
            </mat-option> 
        </mat-select>
    </mat-form-field>
    
    <!-- State Filter -->
    <mat-form-field fxFlex="30">
        <mat-select placeholder="Select State"
                    (change)="stateFilter($event)">
            <mat-option *ngFor="let state of states"
                        [value]="state.id">
                {{state.value}}
            </mat-option> 
        </mat-select>
    </mat-form-field>
</div>
<!-- End filters -->

<!-- Products Table -->
<div>
    <ngx-datatable
        class="material"
        [rows]="myProductsService.products"
        [loadingIndicator]="myProductsService.loadingIndicator"
        [columnMode]="'force'"
        [headerHeight]="48"
        [footerHeight]="56"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [reorderable]="myProductsService.reorderable"
        [selectionType]="'checkbox'"
        [limit]="50"
        (page)="onPageChange($event)"
        #productsTable>

        <!-- Checkbox to select products -->
        <ngx-datatable-column [width]="48"
                            [canAutoResize]="false"
                            [sortable]="false">
                            
            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn">
                <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
            </ng-template>

            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                        let-onCheckboxChangeFn="onCheckboxChangeFn">
                <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
            </ng-template>
        </ngx-datatable-column>

        <!-- Product Id -->
        <ngx-datatable-column [width]="100" [canAutoResize]="false" name="Product Id" prop="product_id">
        </ngx-datatable-column>

        <!-- Title -->
        <ngx-datatable-column name="Title" prop="title">
        </ngx-datatable-column>
        
        <!-- Category -->
        <ngx-datatable-column [width]="200" [canAutoResize]="false" name="Category" prop="category">
        </ngx-datatable-column>
        
        <!-- Quantity -->
        <ngx-datatable-column [width]="200" [canAutoResize]="false" name="Quantity" prop="quantity">
        </ngx-datatable-column>

        <!-- State (active/inactive) -->
        <ngx-datatable-column [width]="100" [canAutoResize]="false" name="State">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <mat-icon *ngIf="value == 'active'" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                <mat-icon *ngIf="value != 'active'" class="active-icon mat-red-500-bg s-16">close</mat-icon>
            </ng-template>
        </ngx-datatable-column>
        
    </ngx-datatable>
</div>
<!-- End products table -->
